<div class="container">
    <form [formGroup]="editProduct" (submit)="onUpdate()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price">
        </div>
        <div class="mb-3">
          <label for="quant" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quant" formControlName="quantity">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>