.profile{
    height:200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: -50px;
    left: 50px;
}

.poster{
    height: 200px;
}

p{
    margin-bottom: 25px;
}

.container{
    background-color: rgb(238, 238, 238);
}

h1{
    margin-bottom: 30px;
}