<app-navbar></app-navbar>

<div>
    <table class="table table-active">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Buyer Name</th>
                <th>Price of Product</th>
            </tr>
        </thead>
        <tbody>
            @for (item of orders; track orders) {
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>