<div class="row m-0">
    <div class="col-5">
        <img [src]="productItem.imgsrc" alt="product" class="img-fluid">
    </div>
    <div class="col-7 d-flex flex-column justify-content-evenly">
        <h4>{{productItem.desc}}</h4>
        <h4>Price: {{productItem.price}}</h4>
        <div class="services d-flex justify-content-between">
            <div>
                <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/trust_icon_free_shipping_81px._CB630870460_.png" alt="">
                <p>Free</p>
            </div>
            <div>
                <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-returns._CB484059092_.png" alt="">
                <p>Easy Return</p>
            </div>
            <div>
                <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-warranty._CB485935626_.png" alt="">
                <p>Warranty</p>
            </div>
            <div>
                <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-top-brand._CB617044271_.png" alt="">
                <p>Top Brands</p>
            </div>
            <div>
                <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/icon-amazon-delivered._CB485933725_.png" alt="">
                <p>Delevery</p>
            </div>
            <div>
                <img src="https://m.media-amazon.com/images/G/31/A2I-Convert/mobile/IconFarm/Secure-payment._CB650126890_.png" alt="">
                <p>Secure</p>
            </div>
        </div>
        <button class="btn btn-success w-100" (click)="onBuy()">Buy Now</button>
    </div>
</div>