<app-navbar></app-navbar>
<div class="row container m-5 ">
    <div class="col-5 border border-2 rounded">
        <img [src]="item.src" alt="image" class="img-fluid">
    </div>
    <div class="col-5 d-flex flex-column justify-content-around">
        <h3>{{item.title}}</h3>
        <h5>{{item.details}}</h5>
        <p>User Rating: {{star}}</p>
        <h4>Rs. {{item.price}}</h4>
        <p>Available Quantity: {{item.quantity}}</p>
    </div>
<div>
<div class="container-fluid">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @for (item of Customer; track $index) {
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phoneNo}}</td>
                        <td>{{item.location}}</td>
                    </tr>
                }
            </tbody>
        </table>
</div>