<app-navbar></app-navbar>
<div class="container border border-2 rounded">
    <form (submit)="onSubmit()">
        <label>Enter Your First Name:</label><br>
        <input type="text" required><br>
        <label>Enter Your Last Name:</label><br>
        <input type="text" required><br>
        <label>Enter Your Email ID:</label><br>
        <input type="email" required><br>
        <label>Select Payment Method:</label><br>
        <select>
            <Option>--Select--</Option>
            <Option>Cash On Delevery</Option>
            <Option>UPI</Option>
            <Option>Card</Option>
            <Option>EMI</Option>
        </select>
        <br>
        <label>Enter Your Address:</label><br>
        <textarea cols="51" rows="5" required></textarea><br>
        <button class="btn btn-success">Confirm Order</button>
    </form>
</div>